img{
    width: 60px;
    height: 60px;
  }
  .disponible{
    border-color: 2px solid green;
    background: lightgreen;
  }
  input{
    max-width: 40px;
  }
  td{
    vertical-align: middle;
  }

  .contenedorCateg{
    display: flex;
    flex-direction: row;
  }
  .CategHombres{
    padding: auto;
    margin:   8px ;
  }
  
   thead{
    background-color: aquamarine;
  }
 