img{
    width: 60px;
    height: 60px;
  }
  .disponible{
    border-color: 2px solid green;
    background: lightgreen;
  }
  input{
    max-width: 40px;
  }
  td{
    vertical-align: middle;
  }

  .contenedorCateg{
    display: flex;
    background-color: azure;
  }
   thead{
    background-color: aquamarine;
  }
 